<div class="header">
    <div class="header_container">
        <div class="leftSide">
            <div class="logo">
                <img class="logo_img" src="../../../assets/DSC_1491.jpg" alt="Akoulih omaima logo image"/>
            </div>
            <span class="name">{{name | uppercase}}</span>
        </div>

        <div class="menu-toggle" (click)="toggleMenu()">
            &#9776;
        </div>

        <div class="rightSide">
            <ul class="headerLinks">
                @for(item of links; track item){
                    <li class="header_Link_Item"><a [href]="item.url">{{ item.name | uppercase }}</a></li>
                }
            </ul>
                
        </div>
        
    </div>
    @if(isMenuOpen){
        <nav class="mobile-menu">
            <ul>
                @for(item of links; track item){
                    <li><a [href]="item.url" (click)="toggleMenu()">{{ item.name | uppercase }}</a></li>
                }
            </ul>
          </nav>
        }
    
</div>
