<div class="about" id="about">
    <div class="about_content">
        <h2 class="heading_about">
           <span class="section_title">About Me</span>
           <span class="section_description">
            Here you will find more information about me, what I do, and my
            current skills mostly in terms of programming and technology
          </span>
        </h2>
    </div>
    <div class="about_content_infos_skills">
        <div class="about_infos">
            <h3 class="about__infos-title">Get to Know Me</h3>
            <div class="about_infos_description">
                <p class="about_info_descriptionn-para"> 
                    I am a passionate <strong>Java Designer and Developer</strong> with experience in managing the front-end and back-end of websites and web applications. 
                    I have developed solutions using frameworks like Spring Boot, React.js, and various technologies such as HTML, CSS, JavaScript, 
                    and Docker. Over the years, I’ve worked on diverse projects, including e-commerce platforms and IoT-based real-time vehicle tracking.</p>
                <p class="about_info_descriptionn-para">
                    I also like sharing content related to the stuff that I have
                    learned over the years in <strong>Web Development</strong> so it
                    can help other people of the Dev Community. Feel free to Connect
                    or Follow me on my
                    <a rel="noreferrer" href="https://www.linkedin.com/in/omayma-akoulih-508106216/" target="_blank">Linkedin</a>
                    and
                    <a rel="noreferrer" href="https://github.com/omaimaakoulih" target="_blank">GitHub</a>
                    where I post useful content related to Web Development and
                    Programming
                </p>
                <p class="about_info_descriptionn-para">
                    I am open to <strong>job opportunities</strong> where I can contribute my skills, continue learning, and grow professionally.
                     If you have any exciting opportunities that align with my expertise, feel free to reach out to me.
                </p>
                <a href="./#contact" class="button">Contact</a>
            </div>
        </div>
        <div class="about_skills">
            <h3 class="about_skills-title">My Skills</h3>
            <div class="skills">
                <div class="skills__skill">HTML</div>
                <div class="skills__skill">CSS</div>
                <div class="skills__skill">JavaScript</div>
                <div class="skills__skill">TypeScript</div>
                <div class="skills__skill">React</div>
                <div class="skills__skill"><i>Angular</i></div>
                <div class="skills__skill"><i>JAVA</i></div>
                <div class="skills__skill">Spring</div>
                <div class="skills__skill">Maven</div>
                <div class="skills__skill">Git</div>
                <div class="skills__skill"><i>Microservices</i></div>
                <div class="skills__skill">MySQL</div>
                <div class="skills__skill">PostgreSQL</div>
                <div class="skills__skill"><i>JEE</i></div>
                <div class="skills__skill">JPA</div>
                <div class="skills__skill">Hibernate</div>
                <div class="skills__skill"><i>Junit5</i></div>
                <div class="skills__skill"><i>Mockito</i></div>
              </div>
        </div>
    </div>
</div>
