<div class="home_section" id="home">
    <div class="home_content">
        <h1>{{"Hello ✨, I'm Omaima AKOULIH" | uppercase}}</h1>
        <div class="description">
            <p>Motivated junior backend engineer, specialized in Java, JEE and Spring, graduated in computer 
                engineering. Passionate about developing robust solutions, eager to collaborate on stimulating 
                projects to enrich my technical skills and evolve professionally in a dynamic environment. </p>
        </div>
        <div class="button">
            <button (click)="onProjectsClick()">Projects</button>
        </div>
    </div>
</div>
